/*-- scss:defaults --*/

// Import font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap');


// Color palette inspired by logos
$primary-color: #5A5A5A;     // dark blue (University)
$secondary-color: #2C3E50;   // vivid red (IRB)
$accent-color: #0077C8;      // coral (Kuzman Consulting)
$background-color: #FFFFFF;
$text-color: #000000;
$gray-light: #F5F5F5;


// Base document colors
$navbar-bg: $accent-color;
$navbar-fg: $background-color;
$navbar-hl: $accent-color;
$body-bg: $background-color;
$body-color: $text-color;
$footer-bg: $primary-color;
$link-color: $secondary-color;

// Inline code
$code-bg: #F8F9FA;
$code-color: $accent-color;

/*-- scss:rules --*/

// Navbar logo size
.navbar-brand img {
  max-height: 30px;
  width: auto;
}

// Navbar text
.navbar-brand,
.navbar-nav .nav-link {
  font-weight: 700;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  font-weight: 800;
  color: $accent-color !important;
}

// Sidebar ToC items
.tocify-item,
.tocify-subheader {
  font-weight: 600;
}

// Headers
h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: $secondary-color;
  border-bottom: 3px solid lighten($secondary-color, 25%);
  padding-bottom: 5px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  color: $accent-color;
  border-bottom: 3px solid lighten($accent-color, 25%);
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}


h4 {
  font-size: 1.55rem;
  font-weight: 500;
  color: $primary-color;
  border-bottom: 3px solid lighten($primary-color, 25%);
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 300;
  color: $primary-color;
  border-bottom: 3px solid lighten($primary-color, 45%);
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

